ul.navList{
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
    width: 100%;
}

.navItems {
    /* text-decoration: none; */
}

.linkCss {
    color: red;
    text-decoration: none;
}